
:root {
  --clr-dark-white: #f3f3f3;
  --clr-white-default: #fff;
  --clr-dark-gray: rgb(150, 150, 150);
  --clr-dark: #000;
  --clr-blue: rgba(90, 90, 232, 0.852);
  --clr-orange: #ad7307;
}

.tokenomics_container{
    margin: 10px ;
    position: relative;
    top: 70px;
}
.tokensContents{
    margin: 45px 25px;
}
.tokensTitle{
     padding: 15px 0;
    font-size: 2rem;
}
.tokenInfo p{
    margin: 25px 0;
}
.tokenInfo p strong{
    padding: 0 7px;
}

#RoadmapBtn, #IntroBtn{
     width: 40%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    background: transparent;
    border: 1px solid var(--clr-dark-gray);
    border-radius: 10px;
    margin: 10px 0;
}
#IntroBtn:hover{
    cursor: pointer;
     transition: .3s ease;
    transform: translateX(-15px);
    color: var(--clr-orange);
}
#RoadmapBtn:hover{
    cursor: pointer;
    transition: .3s ease;
    /* border: 2px solid var(--clr-orange); */
    transform: translateX(15px);
    color: var(--clr-orange);
}
#RoadmapBtn small, #IntroBtn small{
    position: relative;
    left: -15px;
    bottom: 2px;
}
#left_btn{
    width: 25px;
}

.nav_btns{
    display: flex;
    justify-content: space-evenly;
}


.footer_Section{
    position: relative;
    top: 200px;
}
.update_date{
    position: relative;
    left: 100px;
}
@media (min-width: 0) and (max-width: 750px){
    .nav_btns{
    display: block;
}
#RoadmapBtn, #IntroBtn{
    width: 100%;
}
.nav_btns{
    margin: 10px 25px;
}
.update_date{
    position: relative;
    left: 30px;
}
}